<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" href="akbpLogo.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta
            name="description"
            content="Wyniki motorsportowe on-line AKBP wyniki sportów samochodowych online rajdy kjs supersprint super sprint trackday oes tor zapisy "
    />
    <link rel="apple-touch-icon" href="akbpLogo.png"/>
    <link href="/css/race-score.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/react-datepicker.css" rel="stylesheet" type="text/css"/>


    <link rel="manifest" href="manifest.json"/>

    <title>Wyniki motorsportowe online AKBP</title>
</head>
<body background="fiesta.jpg" style="background-size:contain; background-attachment: fixed">
<div id="root"></div>
<script src="/dist/main.js"></script>
</body>
</html>
