.App {
  text-align: center;
  font-size: calc(10px + 1vmin);
}

body,
.btn {
  font-size: calc(9px + 1vmin) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@charset "UTF-8";
.logLevelLabel {
  color: white;
  height: 2em;
  width: 5em;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;
  margin-left: 5px;
}

.logLevelLabel.undefined {
  background-color: #3c3c3c;
}

.logLevelLabel.off {
  background-color: black;
}

.logLevelLabel.error {
  background-color: maroon;
}

.logLevelLabel.warn {
  background-color: darkorange;
}

.logLevelLabel.info {
  background-color: darkblue;
}

.logLevelLabel.debug {
  background-color: darkgreen;
}

.logLevelLabel.trace {
  color: black;
  background-color: lightgray;
}

.logLevelLabel .logLabel {
  padding-top: 5px;
  text-align: center;
  display: block;
}

.treeNode {
  height: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.treeNode::before {
  content: "└";
  font-size: 6em;
  position: relative;
  top: -0.3em;
}

.nodeName {
  height: 2em;
  margin-top: 1.4em;
  margin-left: 1em;
  text-align: left;
}

.title {
  text-align: center;
}

.font14 {
  font-size: calc(11px + 0.4vmin) !important;
}
.font13 {
  font-size: calc(10px + 0.4vmin) !important;
}
.font12 {
  font-size: calc(9px + 0.4vmin) !important;
}
.font11 {
  font-size: calc(7px + 0.4vmin) !important;
}

.text-left {
  text-align: left;
}

.my-input {
  width: 80px !important;
  text-align: center;
}

.centered-grid {
  display: grid;
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
  justify-content: center;
}
.inline-grid {
  display: inline-grid;
}

.width-300 {
  width: 300px;
}

.select {
  border: solid rgb(138, 138, 138) 1px;
  border-radius: 5px;
  width: 100%;
}

.form-control {
  border-color: grey !important;
}

.react-select__menu-portal {
  z-index: 1000000;
}

.DayPickerInput {
  display: flex !important;
}
/* 
.form-group {
  margin-top: -15px;
} */

.input-label {
  position: relative;
  top: 23px;
  left: 5px;
  padding-left: 2px;
  padding-right: 2px;
  z-index: 10;
  text-align: left;
  background-color: white;
  width: max-content;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 5%;
  padding-right: 5%;
  /* border-bottom: 2px solid rgb(8, 70, 13); */
  background-color: #000000;
  box-shadow: 0 2px 2px -2px rgb(8, 70, 13);
}
.navbar-light,
.navbar-brand,
.nav-link {
  color: white !important;
}

.navbar-toggler {
  background-color: rgba(166, 166, 166, 0.557) !important;
  margin: 0.25rem 0.75rem !important;
  padding: 0 0 !important;
}

.nav_bar,
.basic-navbar-nav {
  font-size: calc(9px + 1vmin) !important;
  font-style: italic !important;
  font-weight: 700 !important;
}

.number-badge {
  background-color: rgb(255, 115, 0);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

@media only screen and (max-width: 600px) {
  .div-club {
    margin-top: -4px;
    margin-bottom: -3px;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media only screen and (min-width: 600px) {
  .div-club {
    margin-top: 1px;
    margin-bottom: 0px;
  }
}

.bg-black {
  background-color: black !important;
}

.btn-close {
  background-color: white !important;
}

.bg-dark-green {
  background-color: #063509 !important;
}

.bg-secondary-green {
  background-color: rgb(126, 131, 127) !important;
}

.btn-success {
  background-color: #157246 !important;
  border-color: #157246 !important;
  box-shadow: 1px 1px 2px rgba(0, 96, 5, 0.8);
}

.btn-warning {
  background-color: #52905b !important;
  border-color: #52905b !important;
  color: white !important;
  box-shadow: 1px 1px 2px rgba(0, 96, 5, 0.8);
}

.btn:hover {
  transform: translateY(-2px);
}

.btn-dark {
  background-color: #18441f !important;
  border-color: #2b7237 !important;
  box-shadow: 1px 1px 2px rgba(0, 96, 5, 0.8);
}

.btn-primary {
  background-color: #1a95c5 !important;
  border-color: #1a95c5 !important;
  box-shadow: 1px 1px 2px rgba(37, 89, 166, 0.8);
}

.bg-primary-green {
  background-color: #099fad !important;
}

.card-body {
  background-color: #ffffffe2 !important;
}
